.guidepost .small-image {
    background-position: center;
    background-size: contain;
}

.guidepost .draci-hlidka {
    background-image: url(/images/links/draci-hlidka-monochrome.png?version=7e82c614b88c7a9b5415b037c735345c);
}

.guidepost .draci-hlidka:hover {
    background-image: url(/images/links/draci-hlidka-color.png?version=609f02e8f4b2d40a4b98323e0215bb8f);
}

.guidepost .jeskyne-a-draci {
    background-image: url(/images/links/jeskyne-a-draci-monochrome.png?version=3989dd77ed6ba0d3637503a96f37cd59);
}

.guidepost .jeskyne-a-draci:hover {
    background-image: url(/images/links/jeskyne-a-draci-color.png?version=03b7e19ab00ca17c1fb41ff78f93528d);
}

.guidepost .draci-a-dracata {
    background-image: url(/images/links/draci-a-dracata-monochrome.png?version=73d401687ca8caa744cd77ebef39ee65);
}

.guidepost .draci-a-dracata:hover {
    background-image: url(/images/links/draci-a-dracata-color.png?version=08784538eb85fa6cb8ed0498d47729e8);
}

.guidepost .neviditelna-kniha {
    background-image: url(/images/links/neviditelna-kniha-monochrome.png?version=58964963922df4c0d4312468daceeacf);
}

.guidepost .neviditelna-kniha:hover {
    background-image: url(/images/links/neviditelna-kniha-color.png?version=1c28b0f33c65f3a5de719e1947f9297c);
}

.guidepost .zapovezene-zeme {
    background-image: url(/images/links/zapovezene-zeme-monochrome.png?version=80a27ac88eb0dbfea507f7aca423dfe1);
}

.guidepost .zapovezene-zeme:hover {
    background-image: url(/images/links/zapovezene-zeme-color.png?version=f02e50c443d1822413b36a96297cf48d);
}